<!DOCTYPE html>
<html>
  <head>
    <title>ECL Media Player</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    	body {
    		text-align: center;
    		background: #acacac;
    	}

        .sidenav{
            /*height: 100%;*/
            width: 310px;
            position: fixed;
            z-index: 1;
            top: 190px;
            right: 130px;
            background: #96172e;
            overflow-x: hidden;
            padding: 8px 0;
        }
        .sidenav p {
            text-decoration: none;
            font-size: 20px;
            text-align: center;
            color: #acacac;
        }
        .sidenav a {
            color: #000;
            text-align: center;
            font-size: 18px;
            display: block;
        }
    	.contents{	
    		padding: 40px;
    		opacity: 0.7;
    		text-align: center;
    	}
        .main {
            margin-right: 130px;
            padding: 0px 10px;
        }
        .center{
            display: block;
            margin-right: auto;
            margin-left: auto;
            width: 40%;
        }
    	h1 {
    		color: #acacac;
    		font-size: 40px;
    		/*background: #96172e;*/
    	}
    	p {
    		font-size: 20px;
    	}
    </style>
  </head>
  <body>
    <div class="sidenav" id="noms_des_photos">
        <p style='color: #000;'><u><b>Photos disponibles</b></u></p>
    </div>

    <div class="main">
        <h1 style="color: #96172e">ECL Media Player</h1>
        <div>   
            <button onclick="showImage()">Charger les images</button>
        </div>
        <div id="titre">
        </div>

        <p></p>
        <p></p>
        <img id="dropzone" class="center"/>
        <h1></h1>
        <h1></h1>
        <div class="buttons">
            <button onclick="precedent()"><<<<</button>
            <button onclick="next()">>>>></button>
        </div>
        <p></p>
        <p id="creation"></p>
        <div id="album">
            <button onclick="ajouter_photo_a_album()" class="dropbtn">Ajouter la photo à un album</button>
            <button onclick="titre = creer_album()">Créer un album</button>
        </div>
        <div id="view-by"></div>
    </div>
     
    <!--<script type="text/javascript" src="../public/javascripts/requests.js"></script>-->
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <script type="text/javascript">
        flag = false;
        liste_photos = [];
        actual_photo = "" ;

    	showImage = function(){
			var h = "<p style='color: #000;'><u><b>Photos disponibles</b></u></p>"
            var request = new XMLHttpRequest ();
            request.onload = function(){
                var resp = this.responseText;
                var liste = JSON.parse(resp);
                liste_photos = liste;
                
                //var h = "";
                for (i in liste.photos){
                    h = h + "\n"+"<div><a onclick=show('"+liste.photos[i]+"')>"+liste.photos[i]+"</a></div>";
                }
                h = h + "\n"+"<div><p> </p></div>";
                //console.log('h', h);
                //texto.innerHTML = "<a onclick=show()>"+liste.photos[1]+"</a>";
                
            };
            request.open("GET", "/images/liste_photos.json", true);
            request.send(null);
    		//var image = document.getElementById("dropzone");
    		//image.src = "../images/plane.jpg";
            flag = true;
			var albumrequest = new XMLHttpRequest ();
            albumrequest.onload = function(){
                var resp = this.responseText;
                var liste_album = JSON.parse(resp);
				h+= "<p style='color: #000;'><u><b>albums disponibles</b></u></p>";
                //var h = "";
                for (var i=0;i<liste_album.albums.length;i++){
                    h+= "\n"+'<div id="'+Object.keys(liste_album.albums[i])+'"><a onclick=showimages_album \
					('+JSON.stringify(liste_album.albums[i])+')>'+Object.keys(liste_album.albums[i])+'</a></div>';
                }
                h = h + "\n"+"<div><p> </p></div>";
				noms_des_photos.innerHTML = h;
				
            };
			albumrequest.open("GET", "/images/liste_albums.json", true);
            albumrequest.send(null);
			
    	}

        show = function(name){
            var image = document.getElementById("dropzone");
            var titre = document.getElementById("titre")
            titre.innerHTML = "<h2>"+name+"</h2>"
            source = "/images/"+name;
            image.src = source;
            actual_photo = name;

        }
		showimages_album=function(names){
					names=JSON.parse(names);
					for ( j in names[Object.keys(names)]){
						var node=document.createElement('div');
						node.innerHTML="<a onclick=show('"+j+"')>"+j+"</a>";
						document.getElementById(Object.keys(names)).appendChild(node);
			}
           
		}
        precedent = function(){
            if (flag == true){
                var index = liste_photos.photos.indexOf(actual_photo);
                if (index != 0) {
                    var image = document.getElementById("dropzone");
                    name = liste_photos.photos[index-1];
                    var titre = document.getElementById("titre")
                    titre.innerHTML = "<h2>"+name+"</h2>"
                    source = "/images/"+name;
                    image.src = source;
                    actual_photo = name;
                }        
            }      
        }
        next = function(){
            if (flag == true){
                var index = liste_photos.photos.indexOf(actual_photo);
                var size = liste_photos.photos.length;
                if (index < size-1) {
                    var image = document.getElementById("dropzone");
                    name = liste_photos.photos[index+1];
                    var titre = document.getElementById("titre")
                    titre.innerHTML = "<h2>"+name+"</h2>"
                    source = "../images/"+name;
                    image.src = source;
                    actual_photo = name;  
                }                                   
            }
        }
        creer_album = function(){
            var txt;
            var titre = prompt("Titre de l'album", "");
            if (titre == null || titre == "") {
                //alert('Album non créé');
            } else{
                txt = "Vous avez créé l'album "+titre+"";
                console.log(titre);
                var request2 = new XMLHttpRequest ();
                request2.onload = function(){
                    var resp = this.responseText;
                    var albums = JSON.parse(resp);
                    albums[titre] = [];
                    //albums[titre].push('maison.jpg');
                    console.log(albums[titre]);

                    //Manque la partie de POST pour modifier le JSON
                    var myJSON = JSON.stringify(albums);
                    console.log(myJSON);
                }
                request2.open("GET", "/images/liste_albums.json", true);
                request2.send(null);
                return(titre)
            }
        }

        ajouter_photo_a_album = function(){
            if (actual_photo != "") {
                //console.log(actual_photo);
                var album_req = new XMLHttpRequest()
                album_req.onload = function(){
                    var resp = this.responseText;
                    var albums = JSON.parse(resp);
                    console.log(albums);
                    var liste = "";
                    for (i in albums.albums){
                        var titulo = Object.keys(albums.albums[i]);
                        liste = liste + "\n" + titulo;
                    }
                    var titre = prompt("Albums disponibles: "+"\n"+liste, "");
                    var flag = false;
                    for (i in albums.albums){
                        var titulo = Object.keys(albums.albums[i]);
                        if (titre == titulo) {
                            flag = true;
                            id = i;
                        }
                    }
                    if (flag == false) {
                        alert("Album non existant")
                    } else {
                        //console.log(titre);
                        //console.log(albums.albums[id][titre])
                        albums.albums[id][titre].push(actual_photo);
                        console.log(albums.albums[id][titre]);
                        var JSON_file = JSON.stringify(albums);
                        console.log(JSON_file);
                        var envoyer = new XMLHttpRequest()
                        envoyer.open("POST", "/newalbum", true);
                        envoyer.setRequestHeader("Content-Type", "application/json");
                        envoyer.send(JSON_file);
                    }
                    //alert(Object.keys(albums.albums[0]));
                    //var a;

                    //var titre;
                    //a = montrer_liste_options(albums);
                    //console.log(a[1]);
                    //console.log(titre);
                    //albums.albums[a].push(actual_photo);
                    //console.log(albums.albums[a[0]][a[1]]);
                    //albums.albums[a[0]][a[1]].push(actual_photo);
                    //console.log(albums);

                    }
                    /*for (i in albums.albums){
                        console.log(albums.albums[i]);
                    }*/
                album_req.open("GET", "/images/liste_albums.json", true);
                album_req.send(null);
                }      
            }
            //Ajouter la photo à l'un des albums existants
        montrer_liste_options = function(albums){
            
        }

        /*$(function(){
                        $("#dialog").dialog({
                            buttons: {
                                "First": function(){
                                    selected = 1;
                                },
                                texto: function(){
                                    selected = 2;
                                }
                            }
                        });                   
                    });*/
                    /*//console.log("Ha funcionado");
            //console.log(albums);
            var cont = "<select id='droplist' onchange='myFunction()'>"
            var menu = document.getElementById("view-by");
            //console.log(albums)
            for (i in albums.albums){
                var titulo = Object.keys(albums.albums[i]);
                //console.log(Object.keys(albums.albums[i]));
                //console.log(titulo[0]);
                cont = cont + "\n"+"<option value='"+i+"'>"+titulo[0]+"</option>";
                /*for (j in albums.albums[i]){
                    //console.log('eh', albums.albums[i][j]);
                }
                //cont = cont + "\n"+"<option value='"+i+"'>"+albums.albums[i]
            }
            cont = cont + "\n"+"</select>";
            //console.log(cont);
            menu.innerHTML = cont;
            var flag = true;

            myFunction = function(){
                var e = document.getElementById('droplist');
                var selection = e.options[e.selectedIndex].value;
                var titre = e.options[e.selectedIndex].text;
                console.log('selection', selection);
                console.log('titre', titre);
            }           
            selection = 0;
            titre = "avions"
            console.log('saliendo');
            return [selection, titre];*/
    </script>
  </body>
</html>

