<!DOCTYPE html>
<html>
  <head>
    <title>ECL Media Player</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    	body {
    		text-align: center;
    		background: #acacac;
    	}
        .liste {
            color: green;

        }
        .liste:hover {
        }

        .sidenav_right{
            width: 330px;
            position: fixed;
            z-index: 1;
            top: 190px;
            bottom: 25px;
            right: 120px;
            background: #96172e;
            overflow-x: hidden;
            overflow-y: scroll;
            padding: 8px 0;
            border: 2px solid black;
        }
        .sidenav_left{
            width: 330px;
            position: fixed;
            z-index: 1;
            top: 190px;
            left: 120px;
            background: #96172e;
            overflow-x: hidden;
            padding: 8px 0;
            border: 2px solid black;
        }
        .sidenav_right p , .sidenav_left p{
            text-decoration: none;
            font-size: 20px;
            text-align: center;
            color: #acacac;
        }
        .sidenav_right a , .sidenav_left a{
            color: #000;
            text-align: center;
            font-size: 18px;
            display: block;
        }
    	.contents{	
    		padding: 40px;
    		opacity: 0.7;
    		text-align: center;
    	}
        .main {
            text-align: center;
            /*margin-right: 50px;*/
            padding: 0px 10px;
        }
        .image{
            display: block;
            margin-right: auto;
            margin-left: auto;
            width: 40%;
            border: 2px solid black;
        }
        .change{
            font-size: 25px;
            text-align: center;
            background-color: #96172e;
            color: black;
            border: 2px solid black;
            width: 100px;
            height: 30px;
        }
        .charger{
            font-size: 20px;
            text-align: center;
            background-color: #96172e;
            color: black;
            border: 2px solid black;
            width: 350px;
            height: 35px;
        }
        .modif_album1{
            font-size: 20px;
            text-align: center;
            background-color: #96172e;
            color: black;
            border: 2px solid black;
            width: 220px;
            height: 35px;
        }
        .modif_album1:hover, .modif_album2:hover, .charger:hover, .change:hover, .presentation:hover{
            color: #96172e;
            background-color: black;
            border: 2px solid #96172e;
        }
        .modif_album2, .presentation{
            font-size: 20px;
            text-align: center;
            background-color: #96172e;
            color: black;
            border: 2px solid black;
            width: 200px;
            height: 35px;
        }
    	p {
    		font-size: 20px;
    	}
    </style>
  </head>
  <body>
    <div id="deux_sidenavs">
        <div class="sidenav_left" id="liste_albums">
            <p style='color: #000;'><u><b>Albums disponibles</b></u></p>
            <p style="color: #fff;">Aucun album chargé</p>
        </div>
        <div class="sidenav_right" id="noms_des_photos">
            <p style='color: #000;'><u><b>Photos disponibles</b></u></p>
            <p style="color: #fff;">Aucune photo chargée</p>
        </div>
    </div>
    <div class="main">
        <h1 id="Titre_de_page" style="color: #96172e; font-size: 60px; text-align: center;">ECL Media Player</h1>

        <div id="charger_images">   
            <button class="charger" style="align-self: center" onclick="loadImage()">Charger les images</button>
        </div>

        <div id="titre"></div>

        <div>
            <img id="dropzone" class="image"/>
        </div>
        
        <div class="all_buttons" style="position: fixed; text-align: center; bottom: 15px; right: 100px; left: 100px;">
            <div class="buttons">
                <button class="change" style="height: 35px;" onclick="precedent()"><<<<</button>
                <button id="presentation" class="presentation" style="width: 140px;" onclick="presentation()">Présentation</button>
                <button class="change" style="height: 35px;" onclick="next()">>>>></button>
            </div>
            <p></p>
            <p id="creation"></p>
            <div id="ajouter_photo_album">
                <button class="modif_album1" onclick="ajouter_photo_a_album()">Ajouter à un album</button>
                <button class="modif_album1" onclick="supprimer_photo_de_album()">Supprimer d'un album</button>
            </div>
            <div id="albums">
                <button class="modif_album2" onclick="titre = creer_album()">Créer un album</button>
                <button class="modif_album2" onclick="titre = eliminer_album()">Eliminer un album</button>
            </div>
        </div>
    </div>
     
    <!--<script type="text/javascript" console.log(JSON_file);
			JSON_file.albums.toutes_les_photos=liste_photo
			JSON_file=JSON.stringify(JSON_file);
			var envoyer = new XMLHttpRequest();
			envoyer.open("POST", "/newalbum", true);
			envoyer.setRequestHeader("Content-Type", "application/json");
			envoyer.send(JSON_file);
		src="../public/javascripts/requests.js"></script>
    <script type="text/javascript" src="../public/javascripts/main.js"></script>-->
    <script type="text/javascript">
        flag = false;
        liste_photos = [];
        actual_photo = "" ;
        liste_photos = <%- list %>;
        album_actuel = liste_photos;
		var albumrequest = new XMLHttpRequest ();
		albumrequest.open("GET", "/albums/liste_albums.json", true);
        albumrequest.send(null);
		albumrequest.onload = function(){
			var JSON_file= JSON.parse(this.responseText)
			
}
    	loadImage = function(){
			var h = "<p style='color: #000;'><u><b>Photos disponibles</b></u></p>";
            for (i in liste_photos){
                h += "\n"+"<div><a style='color: #fff; font-size: 18px;' onclick=show('"+liste_photos[i]+"')>"+liste_photos[i]+"</a></div>";
            }
            h = h + "\n"+"<div><p> </p></div>";
            noms_des_photos.innerHTML = h;
            flag = true;

			var left_text = "<p style='color: #000;'><u><b>Albums disponibles</b></u></p>";
			var albumrequest = new XMLHttpRequest ();
            albumrequest.onload = function(){
               var resp = this.responseText;
                 var resp = this.responseText;
                liste_album = JSON.parse(resp);
                for (var i=0;i<liste_album.albums.length;i++){
                    left_text+= "\n"+'<div id="'+Object.keys(liste_album.albums[i])+'">'+"<a style='color: #fff; font-size: 18px;' onclick=showimages_album('"+JSON.stringify(liste_album.albums[i])+"')>"+Object.keys(liste_album.albums[i])+"</a></div>";
                }
                left_text = left_text + "\n"+"<div><p> </p></div>";
				liste_albums.innerHTML = left_text;
				
            };
			albumrequest.open("GET", "/albums/liste_albums.json", true);
            albumrequest.send(null);
			
    	}

        show = function(name){
            var image = document.getElementById("dropzone");
            var titre = document.getElementById("titre")
            var charger = document.getElementById("charger_images");
            titre.innerHTML = "<h2>"+name+"</h2>";
            charger.innerHTML = "";
            source = "/images/"+name;
            image.src = source;
            actual_photo = name;

        }
		showimages_album=function(names){
			names=JSON.parse(names);	
			var h = "<p style='color: #000;'><u><b>Photos disponibles</b></u></p>";
            for (i in names[Object.keys(names)]){
                h += "\n"+"<div><a style='color: #fff; font-size: 18px;' onclick=show('"+names[Object.keys(names)][i]+"')>"+names[Object.keys(names)][i]+"</a></div>";
            }
            h = h + "\n"+"<div><p> </p></div>";
            noms_des_photos.innerHTML = h;
            flag = true;
			
           
		}
		
        
        precedent = function(){
            if (flag == true){
                var index = liste_photos.indexOf(actual_photo);
                if (index != 0) {
                    var image = document.getElementById("dropzone");
                    name = liste_photos[index-1];
                    var titre = document.getElementById("titre")
                    titre.innerHTML = "<h2>"+name+"</h2>"
                    source = "/images/"+name;
                    image.src = source;
                    actual_photo = name;
                }        
            }      
        }
        presentation = function(){
            var t = 2.5;
            if (flag == true) {
                var index = liste_photos.indexOf(actual_photo);
                var size = liste_photos.length;
                var cont = 0;
                var image = document.getElementById("dropzone");
                var titre = document.getElementById("titre");
                var pres = document.getElementById("presentation");
                //pres.innerHTML = "Arreter";
                var time_flag = true;
                if (index != size-1) {
                    for (var i = index; i < size - 1; i++) {
                    let k = i;
                    if (time_flag == true) {
                        var timer = setTimeout(function(){
                            name = liste_photos[k+1];
                            titre.innerHTML = "<h2>"+name+"</h2>";
                            source = "../images/"+name;
                            image.src = source;   
                        }, 1000*t + 1000*t*cont);
                        cont += 1;
                    }
                    /*document.onclick = function(event){
                        clearTimeout(timer);
                        console.log('click');
                        time_flag = false;
                        }*/
                    }
                }

            }       //La fonction presentation est impossible d'arreter manuellement
        }

        next = function(){
            if (flag == true){
                var index = liste_photos.indexOf(actual_photo);
                var size = liste_photos.length;
                if (index < size-1) {
                    var image = document.getElementById("dropzone");
                    name = liste_photos[index+1];
                    var titre = document.getElementById("titre");
                    titre.innerHTML = "<h2>"+name+"</h2>";
                    source = "../images/"+name;
                    image.src = source;
                    actual_photo = name;  
                }                                   
            }
        }
        creer_album = function(){
            var album_req = new XMLHttpRequest();
            album_req.onload = function(){
                var resp = this.responseText;
                var albums = JSON.parse(resp);     
                var titre = prompt("Nom du nouvel album");
                var control = true;
                for (i in albums.albums){
                    var name = Object.keys(albums.albums[i]);
                    if (titre == name) {
                        control = false;
                    }
                }
                if (control == false ){ //Si l'album  existe, sortir
                    alert("L'album existe !");
                }
				else if( titre == "" & titre == null) {
					alert("entrée vide!");
				}
                if (control == true){
                    var confirmer = confirm("Voulez vous créer l'album "+titre+" ?");
                    if (confirmer == true) { 
                        albums.albums.push(JSON.parse('{"'+titre+'":[]}'));
                        var JSON_file = JSON.stringify(albums);
                        var envoyer = new XMLHttpRequest();
                        envoyer.open("POST", "/newalbum", true);
                        envoyer.setRequestHeader("Content-Type", "application/json");
                        envoyer.send(JSON_file);
						envoyer.onreadystatechange= function(){
						loadImage();
									
						}
                    }
                }
            }            
            album_req.open("GET", "/albums/liste_albums.json", true);
            album_req.send(null);  
			
			}
        eliminer_album = function(){
            var txt;
            var album_req = new XMLHttpRequest();
            album_req.onload = function(){
                var resp = this.responseText;
                var albums = JSON.parse(resp);
                var name;
                var liste = "";
                for (i in albums.albums){
                        name = Object.keys(albums.albums[i]);
                        liste = liste + "\n" + name;
                }
                var titre = prompt("Albums existants: "+"\n"+liste+"\n ", "");
                var control = false;
                for (i in albums.albums){
                    var name = Object.keys(albums.albums[i]);
                    if (titre == name) {
                        control = true;
                        id = i;
                    }
                }
                if (control == false & titre != "" & titre != null) { //Si l'album  n'existe pas, sortir
                    alert("L'album n'existe pas !");
                }
                if (control == true){
                    var confirmer = confirm("Voulez vous vraiment éliminer l'album "+titre+" ?");
                    if (confirmer == true) { //Confirmer l'élimination de l'album
                        albums.albums.splice(id, 1);
                        var JSON_file = JSON.stringify(albums);
                        var envoyer = new XMLHttpRequest();
                        envoyer.open("POST", "/newalbum", true);
                        envoyer.setRequestHeader("Content-Type", "application/json");
                        envoyer.send(JSON_file);
						envoyer.onreadystatechange= function(){
						loadImage();
									
						}
                    }
                }
            }            
            album_req.open("GET", "/albums/liste_albums.json", true);
            album_req.send(null);  
        }

        ajouter_photo_a_album = function(){      
            if (actual_photo != "") {
                var album_req = new XMLHttpRequest()
                album_req.onload = function(){
                    var resp = this.responseText;
                    var albums = JSON.parse(resp);
                    var name;
                    var liste = "";
                    for (i in albums.albums){
                        name = Object.keys(albums.albums[i]);
                        liste = liste + "\n" + name;
                    }
                    var titre = prompt("Photo choisie: "+actual_photo+"\n\n"+"Albums disponibles: "+"\n"+liste+"\n ", "");
                    var control = false;
                    for (i in albums.albums){
                        var name = Object.keys(albums.albums[i]);
                        if (titre == name) {
                            control = true;
                            id = i;
                        }
                    }
                    if (control == false & titre != "" & titre != null) { //Si l'album  n'existe pas, sortir
                        alert("L'album n'existe pas !");
                    } 
                    if (control == true) { //Ajouter la photo a l'album
                        var ajouter = true;
                        for (i in albums.albums[id][titre]){ // Verifier que la photo n'existe pas déjà sur l'album
                            photo_in_album = albums.albums[id][titre][i];
                            if (actual_photo == photo_in_album){ //La photo existe sur l'album
                                ajouter = false;
                            }
                        }
                        if (ajouter == false){ //Verifier si l'utilisatuer veut ajouter quand-même la photo
                            var confirmer = confirm("La photo existe déjà sur l'album. Voulez vous l'ajouter quand-même ?");
                            if (confirmer == true) { //On l'ajoute quand-même
                                ajouter = true;
                            }    
                        }
                        if (ajouter == true) { //Ajouter la photo
                            albums.albums[id][titre].push(actual_photo);
                            var JSON_file = JSON.stringify(albums);
                            var envoyer = new XMLHttpRequest()
                            envoyer.open("POST", "/newalbum", true);
                            envoyer.setRequestHeader("Content-Type", "application/json");
                            envoyer.send(JSON_file);
							envoyer.onreadystatechange= function(){
								loadImage();
									
						}
                        }
                    }
                }    
                album_req.open("GET", "/albums/liste_albums.json", true);
                album_req.send(null);  
            }
        }
        supprimer_photo_de_album = function(){
            //Pas fait
        }
    </script>
  </body>
</html>

