<!DOCTYPE html>
<html>
  <head>
    <title>ECL Media Player</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    	body {
    		text-align: center;
    		background: #acacac;
    	}
        .liste {
            color: green;

        }
        .liste:hover {
        }

        .sidenav_right{
            /*height: 100%;*/
            width: 310px;
            position: fixed;
            z-index: 1;
            top: 190px;
            right: 130px;
            background: #96172e;
            overflow-x: hidden;
            padding: 8px 0;
        }
        .sidenav_left{
            width: 280px;
            position: fixed;
            z-index: 1;
            top: 190px;
            left: 100px;
            background: #96172e;
            overflow-x: hidden;
            padding: 8px 0;
        }
        .sidenav_right p , .sidenav_left p{
            text-decoration: none;
            font-size: 20px;
            text-align: center;
            color: #acacac;
        }
        .sidenav_right a , .sidenav_left a{
            color: #000;
            text-align: center;
            font-size: 18px;
            display: block;
        }
    	.contents{	
    		padding: 40px;
    		opacity: 0.7;
    		text-align: center;
    	}
        .main {
            margin-right: 130px;
            padding: 0px 10px;
        }
        .center{
            display: block;
            margin-right: auto;
            margin-left: auto;
            width: 40%;
        }
        .change{
            font-size: 25px;
            text-align: center;
            background-color: #96172e;
            color: black;
            border: 2px solid black;
            width: 100px;
            height: 30px;
        }
        /*.change:hover{
            color: #96172e;
            background-color: black;
            border: 2px solid #96172e;
        }*/
        .charger{
            font-size: 20px;
            text-align: center;
            background-color: #96172e;
            color: black;
            border: 2px solid black;
            width: 350px;
            height: 35px;
        }
        .modif_album1{
            font-size: 20px;
            text-align: center;
            background-color: #96172e;
            color: black;
            border: 2px solid black;
            width: 350px;
            height: 35px;
        }
        .modif_album1:hover, .modif_album2:hover, .charger:hover, .change:hover{
            color: #96172e;
            background-color: black;
            border: 2px solid #96172e;
        }
        .modif_album2{
            font-size: 20px;
            text-align: center;
            background-color: #96172e;
            color: black;
            border: 2px solid black;
            width: 200px;
            height: 35px;
        }
    	h1 {
    		/*color: #acacac;*/
    		/*font-size: 40px;*/
    		/*background: #96172e;*/
    	}
    	p {
    		font-size: 20px;
    	}
    </style>
  </head>
  <body>
    <div class="sidenav_left" id="liste_albums">
        <p style='color: #000;'><u><b>Albums disponibles</b></u></p>
        <p style="color: #fff;">Aucun album chargé</p>
    </div>
    <div class="sidenav_right" id="noms_des_photos">
        <p style='color: #000;'><u><b>Photos disponibles</b></u></p>
        <p style="color: #fff;">Aucune photo chargée</p>
    </div>

    <div class="main">
        <h1 style="color: #96172e; font-size: 60px;">ECL Media Player</h1>
        <div>   
            <button class="charger" onclick="showImage()">Charger les images</button>
        </div>
        <div id="titre">
        </div>

        <p></p>
        <p></p>
        <img id="dropzone" class="center"/>
        <h1></h1>
        <h1></h1>
        <div class="buttons">
            <button class="change" onclick="precedent()"><<<<</button>
            <button onclick="presentation()">Presentation</button>
            <button class="change" onclick="next()">>>>></button>
        </div>
        <p></p>
        <p id="creation"></p>
        <div id="ajouter_photo_album">
            <button class="modif_album1" onclick="ajouter_photo_a_album()">Ajouter la photo à un album</button>
        </div>
        <div id="albums">
            <button class="modif_album2" onclick="titre = creer_album()">Créer un album</button>
            <button class="modif_album2" onclick="titre = eliminer_album()">Supprimer un album</button>
        </div>
        <div id="view-by"></div>
    </div>
     
    <!--<script type="text/javascript" src="../public/javascripts/requests.js"></script>
    <script type="text/javascript" src="../public/javascripts/main.js"></script>-->
    <script type="text/javascript">
        flag = false;
        liste_photos = [];
        actual_photo = "" ;

    	showImage = function(){
			var h = "<p style='color: #000;'><u><b>Photos disponibles</b></u></p>"
            var request = new XMLHttpRequest ();
            request.onload = function(){
                var resp = this.responseText;
                var liste = JSON.parse(resp);
                liste_photos = liste;
                //style='color: #fff' class='liste' 
                for (i in liste.photos){
                    h = h + "\n"+"<div><a style='color: #fff;' onclick=show('"+liste.photos[i]+"')>"+liste.photos[i]+"</a></div>";
                }
                h = h + "\n"+"<div><p> </p></div>";
                noms_des_photos.innerHTML = h;
            };
            request.open("GET", "/images/liste_photos.json", true);
            request.send(null);
            flag = true;
			var albumrequest = new XMLHttpRequest ();
            albumrequest.onload = function(){
                var resp = this.responseText;
                var liste_album = JSON.parse(resp);
                var left_text = "<p style='color: #000;'><u><b>albums disponibles</b></u></p>";
                for (var i=0;i<liste_album.albums.length;i++){
                    left_text += "\n"+'<div id="'+Object.keys(liste_album.albums[i])+'"><a style="color: #fff;" onclick=showimages_album \
					('+JSON.stringify(liste_album.albums[i])+')>'+Object.keys(liste_album.albums[i])+'</a></div>';
                }
                h = h + "\n"+"<div><p> </p></div>";
				liste_albums.innerHTML = left_text;
				
            };
			albumrequest.open("GET", "/images/liste_albums.json", true);
            albumrequest.send(null);
			
    	}

        show = function(name){
            var image = document.getElementById("dropzone");
            var titre = document.getElementById("titre")
            titre.innerHTML = "<h2>"+name+"</h2>"
            source = "/images/"+name;
            image.src = source;
            actual_photo = name;

        }
		showimages_album=function(names){
					names=JSON.parse(names);
					for ( j in names[Object.keys(names)]){
						var node=document.createElement('div');
						node.innerHTML="<a onclick=show('"+j+"')>"+j+"</a>";
						document.getElementById(Object.keys(names)).appendChild(node);
			}
           
		}
        precedent = function(){
            if (flag == true){
                var index = liste_photos.photos.indexOf(actual_photo);
                if (index != 0) {
                    var image = document.getElementById("dropzone");
                    name = liste_photos.photos[index-1];
                    var titre = document.getElementById("titre")
                    titre.innerHTML = "<h2>"+name+"</h2>"
                    source = "/images/"+name;
                    image.src = source;
                    actual_photo = name;
                }        
            }      
        }
        next = function(){
            if (flag == true){
                var index = liste_photos.photos.indexOf(actual_photo);
                var size = liste_photos.photos.length;
                if (index < size-1) {
                    var image = document.getElementById("dropzone");
                    name = liste_photos.photos[index+1];
                    var titre = document.getElementById("titre")
                    titre.innerHTML = "<h2>"+name+"</h2>"
                    source = "../images/"+name;
                    image.src = source;
                    actual_photo = name;  
                }                                   
            }
        }
        creer_album = function(){
            var txt;
            var titre = prompt("Titre de l'album", "");
            if (titre == null || titre == "") {
            } else{
                txt = "Vous avez créé l'album "+titre+"";
                var request2 = new XMLHttpRequest ();
                request2.onload = function(){
                    var resp = this.responseText;
                    var albums = JSON.parse(resp);
                    albums[titre] = [];
                    //Manque la partie de POST pour modifier le JSON
                    var myJSON = JSON.stringify(albums);
                }
                request2.open("GET", "/images/liste_albums.json", true);
                request2.send(null);
                return(titre)
            }
        }
        eliminer_album = function(){
            
        }
        presentation = function(){
            var t = 2.5;
            
        }

        ajouter_photo_a_album = function(){      
            if (actual_photo != "") {
                var album_req = new XMLHttpRequest()
                album_req.onload = function(){
                    var resp = this.responseText;
                    var albums = JSON.parse(resp);
                    var liste = "";
                    for (i in albums.albums){
                        var titulo = Object.keys(albums.albums[i]);
                        liste = liste + "\n" + titulo;
                    }
                    var titre = prompt("Albums disponibles: "+"\n"+liste+"\n ", "");
                    var flag = false;
                    for (i in albums.albums){
                        var titulo = Object.keys(albums.albums[i]);
                        if (titre == titulo) {
                            flag = true;
                            id = i;
                        }
                    }
                    if (flag == false & titre != "" & titre != null) { //Si l'album  n'existe pas, sortir
                        alert("L'album n'existe pas !");
                    } 
                    if (flag == true) { //Ajouter la photo a l'album
                        var ajouter = true;
                        for (i in albums.albums[id][titre]){ // Verifier que la photo n'existe pas déjà sur l'album
                            photo_in_album = albums.albums[id][titre][i];
                            if (actual_photo == photo_in_album){ //La photo existe sur l'album
                                ajouter = false;
                            }
                        }
                        if (ajouter == false){ //Verifier si l'utilisatuer veut ajouter quand-même la photo
                            var confirmer = confirm("La photo existe déjà sur l'album. Voulez vous l'ajouter quand-même ?");
                            if (confirmer == true) { //On l'ajoute quand-même
                                ajouter = true;
                            }    
                        }
                        if (ajouter == true) { //Ajouter la photo
                            albums.albums[id][titre].push(actual_photo);
                            var JSON_file = JSON.stringify(albums);
                            var envoyer = new XMLHttpRequest()
                            envoyer.open("POST", "/newalbum", true);
                            envoyer.setRequestHeader("Content-Type", "application/json");
                            envoyer.send(JSON_file);
                        }
                    }
                }    
                album_req.open("GET", "/images/liste_albums.json", true);
                album_req.send(null);  
            }
        }
    </script>
  </body>
</html>

